.u-icon {
  line-height: 16px;
  font-size: 16px;

  color: transparent;
  text-shadow: 0 0 0 black;

  font-family: monospace !important;
  font-weight: bold;
  text-align: center;

  &--small {
    line-height: 12px;
    font-size: 12px;
  }

  &--large {
    line-height: 20px;
    font-size: 20px;
  }

  // TODO: It doesn't work in Firefox
  &--text {
    -webkit-text-fill-color: transparent;
    color: inherit;
    text-shadow: 0 0 0 currentColor;
  }

  @each $iconName, $iconContent in $icons {
    &.#{$iconName} {
      &::before {
        content: '#{$iconContent}';
      }
    }
  }
}