$icons: (
        link: '🔗',
        flame: '🔥',
        close: '❌', // ✖️
        check: '✔️',
        account: '👤',
        folder: '📁',
        folder-open: '📂',
        information: '🛈️', // ⓘ
        information-symbol: 'ℹ',
        triangle: '▲', // 🔺
        triangle-down: '▼',
        plus: '➕',
        minus: '➖',
        magnify: '🔎', // 🔍
        connection: '🔌',
        lock: '🔓', // 🔏 🔐
        key: '🔑', // 🗝️
        pencil: '✏️',
        delete: '🗑️', // 🗑
        alert: '⚠',
        hand: '✋',
        cog: '⚙️',
        cancel: '🚫',
        dots: '⋮',
        cloud: '☁️',
        cloud-outline: '☁',
        bell: '🔔',
        message: '💬',
        paperclip: '📎',
        asterisk: '✱️',
        calendar: '️🗓',
        web: '🌐',
        help: '❔',
        exclamation: '❕', // ️❗
        circle-outline: '⭕',
        circle: '⚪',
        square: '⬜',
        heart: '❤️',
        wrench: '🔧',
        cart: '🛒',
        eye: '👁',
        map: '🗺️',
        map-marker: '📍',
        refresh: '↻',
        timer-sand: '⏳',
        timer: '⏱',
        clock: '⏲',
);